.App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  /* padding: 20px; */
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  transition: all 0.5s;
}

.dark-mode-container {
  float: right;
  align-items: center;
  justify-content: center;
}

.dark-mode-switch {
  display: flex;
  margin: 20px;
  transition: all 0.5s;
  align-items: center;
}
