.App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 20%;
  height: 100%;
  background-color: var(--sidebar);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo-image {
  width: 60%;
  max-width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: fadein 2.3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar-break {
  width: 90%;
  background-color: var(--background);
  transition: all 0.3s ease-in-out;
  height: 3px;
  border: none;
}

.dark-mode-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: 40px;
}

.dark-mode-switch {
  display: flex;
  margin: 20px;
  transition: all 0.5s;
  align-items: center;
}

.hamburger-button {
  display: none;
}

.sidebar-opened {
  width: 20%;
  height: 100%;
  background-color: var(--sidebar);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }

  .hamburger-section {
    position: absolute;
  }

  .sidebar-opened {
    width: 80%;
    height: 100%;
    background-color: var(--sidebar);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
  }

  .main-with-sidebar-opened {
    display: none;
  }

  .hamburger-button {
    display: inline;
    float: left;
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    transition: all 0.4s;
  }

  .main {
    width: 100%;
  }
}
