body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div,
span,
li,
:not(#tsparticles) {
  z-index: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background: rgb(195, 193, 193);
  --sidebar: rgb(66, 66, 66);
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: #e68a00;
  height: 100%;
}
[data-theme="dark"] {
  --background: rgb(32, 32, 32);
  --sidebar: rgb(51, 51, 51);
  --text-primary: white;
  --text-secondary: grey;
  --accent: rgb(9, 9, 9);
}

.disclaimer {
  display: none;
  /* visibility: hidden; */
}
